@import url('https://fonts.googleapis.com/css?family=Eczar');

html, body {
	margin: 0px;
	width: 100%;
	height: 100vh;
	font-family: 'Eczar', 'serif';
	color: black;
	background-color: rgba(220,190,110,0.6);
}

#frame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#competition {
	width: 100%;
	text-align: center;
	font-size: 6rem;
	font-weight: bold;
	display: flex;
	flex: 0 1 auto;
	justify-content: center;
}
#competition::first-letter {
	color: red;
}
#competition div {
	display: block;
}
#competition div::first-letter {
	color: red;
}
#competition::before {
	content: "Finals: ";
}

#overview {
	display: flex;
	flex: 0 1 auto;
	flex-flow: row nowrap;
	justify-content: center;
}

#space {
	order: 2;
	width: 12rem;
	height: calc(18rem + 75px);
	text-align: center;
}
#space > img {	
	margin-top: 100%;
	-webkit-filter: drop-shadow(2px 2px 0 rgba(0,0,0,0.4)) drop-shadow(2px 2px 0 rgba(0,0,0,0.4));
	 filter: drop-shadow(2px 2px 0 rgba(0,0,0,0.4)) drop-shadow(2px 2px 0 rgba(0,0,0,0.4));
}

#red {
	flex: 0 1 auto;
	order: 1;
	display: flex;
	flex-flow: row nowrap;
}

#black {
	flex: 0 1 auto;
	order: 3;
	display: flex;
	flex-flow: row nowrap;
}
#black .info {
	order: 2;
}
#black .points {
	order: 1;
}

.info {
	text-align: center;
}
.info .avatar img {
	/* max-width: 200px; */
	height: 200px;
	padding: 1px;
}
#red .info .avatar img {
	border: 1px solid red;
}
#black .info .avatar img {
	border: 1px solid black;
}
.info .name {
	display: table-cell;
	vertical-align: middle;
	height: 8rem;
	min-width: 24rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 3rem;
	font-weight: bold;
	line-height: 3.8rem;
	color: white;
}
.info .name:before {
	/* content: 'Name: '; */
	font-size: 1rem;
}
#red .info .name {
	background-color: red;
}
#black .info .name {
	background-color: black;
}

.info .club {
	font-size: 2rem;
	line-height: 1rem;
	padding-top: 1.6rem;
	padding-bottom: 0.4rem;
	font-weight: bold;
	color: white;
}
#red .info .club {
	background-color: rgba(255,0,0,0.6);
}
#black .info .club {
	background-color: rgba(0,0,0,0.6);
}
.info .club img, .info div.club:after {
	-webkit-filter: drop-shadow(5px 5px 5px black);
	 filter: drop-shadow(5px 5px 5px black);
}

.info .club:before {
	/* content: 'Club: '; */
}


.info .avatar {
	padding-top: 0.2rem;
	padding-bottom: 0.72rem;
}
#red .info .avatar {
	background: linear-gradient(to bottom, rgba(255,0,0,0.3), rgba(255,0,0,0));
}
#black .info .avatar {
	background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
}

.info .age {
	font-size: 2rem;
}
.info .age:before {
	content: 'Age: ';
}
#red .info .age {
	background-color: rgba(255,0,0,0.3);
}
#black .info .age {
	background-color: rgba(0,0,0,0.3);
}

.info .penalties {
	font-size: 2rem;
}
#red .info .penalties {
	text-align: right;
}
#black .info .penalties {
	text-align: left;
}
.yellowcard, .redcard, .blackcard {
	width: 2rem;
	height: 3rem;
	-webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
	 filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
}
.yellowcard {
	background-color: yellow;
}
.redcard {
	background-color: red;
}
.blackcard {
	background-color: black;
}
#red .yellowcard, #red .redcard, #red .blackcard {
	float: right;
	margin-right: 1rem;
}
#black .yellowcard, #black .redcard, #black .blackcard {
	float: left;
	margin-left: 1rem;
}

.points div:first-child {
	font-size: 30rem;
	max-height: 38rem;
	min-width: 26rem;
	text-align: center;
	line-height: 44rem;
}
#red .points div:first-child {
	background-color: red;
	color: white;
}
#black .points div:first-child {
	background-color: black;
	color: white;
}

#doubles {
	width: 100%;
	text-align: center;
	font-size: 12rem;
	line-height: 1rem;
	margin-top: -1.4rem;
}
div#doubles:after {
	content: '\A Doubles';
	white-space: pre;
	font-size: 3rem;
}